body {
    background-color: #F0F0F0;
    padding:0;
    margin:0;
    font-family: Roboto, Arial, sans-serif;
}

header {
  font-family: Roboto, Arial, sans-serif;
  font-weight:100;
  color: white;
  background-color: gray;
}

h1 {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: .3rem;
  padding: 0.5em;
}

input,
button {
    font-size: 20px;
}

label {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    color: darkgrey;
    padding: 5px;
}

.container {
    width: 500px;
    text-align: center;
    margin: auto;
}

#results {
    border: 1px solid black;
    padding: 5px;
    margin: 30px;
}

button {
  display: block;
  width: 80%;
  padding: .4rem;
  border: none;
  margin: 1rem auto;
  font-size: 1.3rem;
  background: rgba(211,211,211,0.23);
  color: #c90016;
  border-radius: 3px;
  cursor: pointer;
  transition: .3s background;
}

button:hover {
   background: rgba(245,245,245,0.5);
}

a {
  text-decoration : none;
  color: #c90016;
}
